
node_modules/
.pnp
.pnp.js
.pnp.*

# Package Manager Files

.npm

package-lock.json


# Build Outputs
dist/
build/
out/
*.tsbuildinfo
*.tsbuildinfo.json

# Turbo cache
.turbo/
.turbo/**


.env
.env.*
!.env.example
!.env.template
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/
*.lcov
.nyc_output/
*.test.js.snap
.jest/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test/

# VSCode 

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

